.codex/*
!.codex/skills/
.codex/skills/*
!.codex/skills/prettifer-commit/
!.codex/skills/prettifer-commit/**
!.codex/skills/prettifer-pr/
!.codex/skills/prettifer-pr/**

node_modules/
.webpack/
out/
dist/
coverage/
test-results/
*.tsbuildinfo
